/layout/node_modules/
/layout/package.json
/layout/package-lock.json
/tema/wp-admin/
/tema/wp-includes/
/tema/wp-content/languages/
/tema/wp-content/plugins/
/tema/wp-content/themes/twentyfifteen/
/tema/wp-content/themes/twentyseventeen
/tema/wp-content/themes/twentysixteen
/tema/wp-content/themes/index.php
/tema/wp-content/index.php
/tema/.htaccess
/tema/index.php
/tema/license.txt
/tema/readme.html
/tema/wp-activate.php
/tema/wp-blog-header.php
/tema/wp-comments-post.php
/tema/wp-config-sample.php
/tema/wp-config.php
/tema/wp-cron.php
/tema/wp-links-opml.php
/tema/wp-load.php
/tema/wp-login.php
/tema/wp-mail.php
/tema/wp-settings.php
/tema/wp-signup.php
/tema/wp-trackback.php
/tema/xmlrpc.php