<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">

    <link rel="stylesheet" href="css/style.css">

    <title>BS4 + WP</title>
  </head>

  <body>

    <div class="container">

      <div class="row my-5 align-items-center">

        <div class="col-md-8 col-sm-12">
          <h1>Meu primeiro tema</h1>
          <p class="lead">Fiz com WordPress</p>
        </div>

        <div class="col-md-4 col-sm-12">
          <form>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="O que procura?">
              <div class="input-group-append">
                <button class="btn btn-my-color-5" type="button">Buscar</button>
              </div>
            </div>
          </form>
        </div>

      </div>

      <div class="row">

        <div class="col mb-5">

          <nav class="navbar navbar-expand-lg navbar-dark bg-my-color-2 rounded">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#meuNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="meuNavbar">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="">Início</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">Perfil</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">Projetos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">Novidades</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">Planos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="">Contatos</a>
                </li>
              </ul>
            </div>
          </nav>

        </div>

      </div>

      <div class="row">

        <div class="col-md-8 col-sm-12">

          <div class="blog-post">
            <h3 class="mb-3 pb-2 border-bottom"><a href="">Lorem ipsum dolor sit amet</a></h3>
            <div class="row">
              <div class="col-md-12 col-lg-6 mb-3">
                <a href="">
                  <img src="assets/img.jpg" class="img-fluid rounded" alt="celular na frente do computador">
                </a>
              </div>
              <div class="col-md-12 col-lg-6 mb-3">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde eum repellat, facere, ipsa dolor a pariatur quod voluptatem soluta maiores ea labore, vel quasi facilis aut? Rem consequatur architecto ea quasi qui ullam quaerat sit nostrum, necessitatibus error laboriosam? Corporis eos mollitia, reprehenderit nesciunt vitae magni ducimus voluptatem rem cumque.</p>
              </div>
            </div>
            <p class="text-muted">Publicado em: <span class="badge badge-my-color-4">23/07/18</span></p>
          </div>

          <div class="blog-post">
            <h3 class="mb-3 pb-2 border-bottom"><a href="">Lorem ipsum dolor sit amet</a></h3>
            <div class="row">
              <div class="col-md-12 col-lg-6 mb-3">
                <a href="">
                  <img src="assets/img.jpg" class="img-fluid rounded" alt="celular na frente do computador">
                </a>
              </div>
              <div class="col-md-12 col-lg-6 mb-3">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde eum repellat, facere, ipsa dolor a pariatur quod voluptatem soluta maiores ea labore, vel quasi facilis aut? Rem consequatur architecto ea quasi qui ullam quaerat sit nostrum, necessitatibus error laboriosam? Corporis eos mollitia, reprehenderit nesciunt vitae magni ducimus voluptatem rem cumque.</p>
              </div>
            </div>
            <p class="text-muted">Publicado em: <span class="badge badge-my-color-4">23/07/18</span></p>
          </div>

          <div class="blog-post">
            <h3 class="mb-3 pb-2 border-bottom"><a href="">Lorem ipsum dolor sit amet</a></h3>
            <div class="row">
              <div class="col-md-12 col-lg-6 mb-3">
                <a href="">
                  <img src="assets/img.jpg" class="img-fluid rounded" alt="celular na frente do computador">
                </a>
              </div>
              <div class="col-md-12 col-lg-6 mb-3">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde eum repellat, facere, ipsa dolor a pariatur quod voluptatem soluta maiores ea labore, vel quasi facilis aut? Rem consequatur architecto ea quasi qui ullam quaerat sit nostrum, necessitatibus error laboriosam? Corporis eos mollitia, reprehenderit nesciunt vitae magni ducimus voluptatem rem cumque.</p>
              </div>
            </div>
            <p class="text-muted">Publicado em: <span class="badge badge-my-color-4">23/07/18</span></p>
          </div>

          <div class="blog-post">
            <h3 class="mb-3 pb-2 border-bottom"><a href="">Lorem ipsum dolor sit amet</a></h3>
            <div class="row">
              <div class="col-md-12 col-lg-6 mb-3">
                <a href="">
                  <img src="assets/img.jpg" class="img-fluid rounded" alt="celular na frente do computador">
                </a>
              </div>
              <div class="col-md-12 col-lg-6 mb-3">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde eum repellat, facere, ipsa dolor a pariatur quod voluptatem soluta maiores ea labore, vel quasi facilis aut? Rem consequatur architecto ea quasi qui ullam quaerat sit nostrum, necessitatibus error laboriosam? Corporis eos mollitia, reprehenderit nesciunt vitae magni ducimus voluptatem rem cumque.</p>
              </div>
            </div>
            <p class="text-muted">Publicado em: <span class="badge badge-my-color-4">23/07/18</span></p>
          </div>

          <div class="blog-pagination mb-5">
            <a href="" class="btn btn-outline-my-color-5">Mais antigos</a> <a href="" class="btn btn-outline-my-color-5">Mais novos</a>
          </div>

        </div>

        <div class="col-md-4 col-sm-12">

          <div class="card mb-4">
            <h5 class="card-header">Categorias</h5>
            <div class="card-body">
              <ul>
                <li><a href="">Projetos</a></li>
                <li><a href="">Novidades</a></li>
                <li><a href="">Planos</a></li>
              </ul>
            </div>
          </div>

          <div class="card mb-4">
            <h5 class="card-header">Últimos posts</h5>
            <div class="card-body">
              <ul>
                <li><a href="">Lorem ipsum dolor sit</a></li>
                <li><a href="">Lorem ipsum dolor sit amet consectetur</a></li>
                <li><a href="">Lorem ipsum dolor sit amet</a></li>
                <li><a href="">Lorem ipsum dolor sit</a></li>
                <li><a href="">Lorem ipsum dolor sit amet consectetur</a></li>
              </ul>
            </div>
          </div>

          <div class="card mb-4">
            <h5 class="card-header">Links</h5>
            <div class="card-body">
              <ul>
                <li><a href="">Instagram</a></li>
                <li><a href="">Twitter</a></li>
                <li><a href="">LinkedIn</a></li>
                <li><a href="">YouTube</a></li>
              </ul>
            </div>
          </div>

        </div>

      </div>

    </div>

    <div class="w-100 bg-secondary border-top border-dark mt-5">
      <div class="container">
        <div class="row">
          <div class="col py-5 text-center text-white">
            <h5>Meu primeiro tema de WordPress</h5>
            <p class="mb-0">Feito por mim com muita dedicação e esforço</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>